<div class="contact">
<div class="container">
	<div class="row">
				<!-- Contact Info -->
				<div class="col-lg-6">
					<div class="section_title"><h2>Get in touch</h2></div>
					<div class="contact_text">
						<p>Contact</p>
					</div>
					<ul class="contact_about_list">
						<li>
							<p>
								<font face="tahoma" size="3" color="Orange">
							<div class="contact_about_icon"></div><span>+90 0539 905 236</span>
								</font></p>
						</li>
						<li>
							<p>
								<font face="tahoma" size="3" color="Orange">
							<div class="contact_about_icon"></div><span>team@onduty.com.tr</span>
								</font></p>
						</li>
						<li>
							<p>
								<font face="tahoma" size="3" color="Orange">
							<div class="contact_about_icon"></div><span>Ismet Kaptan Mahallesi, Gazi Osman Pasa Blv.</span>
								</font></p>
						</li>
						<li>
							<p>
								<font face="tahoma" size="3" color="Orange">
							<div class="contact_about_icon"></div><span>No:1, 35210 Konak/Izmir</span>
								</font></p>
						</li>
					</ul>
				</div>
			
		</div>		
	</div>	
</div>
