<div class="contact">
<div class="container">
	<div class="row">
				<!-- Contact Info -->
				<div class="col-lg-6">
					<div class="section_title"><h2>Get in touch</h2></div>
					<div class="contact_text">
						<p>Contact</p>
					</div>
					<ul class="contact_about_list">
						<li>
							<p>
								<font face="tahoma" size="3" color="Orange">
							<div class="contact_about_icon"></div><span>+90 0539 905 236</span>
								</font></p>
						</li>
						<li>
							<p>
								<font face="tahoma" size="3" color="Orange">
							<div class="contact_about_icon"></div><span>team@onduty.com.tr</span>
								</font></p>
						</li>
						<li>
							<p>
								<font face="tahoma" size="3" color="Orange">
							<div class="contact_about_icon"></div><span>Ismet Kaptan Mahallesi, Gazi Osman Pasa Blv.</span>
								</font></p>
						</li>
						<li>
							<p>
								<font face="tahoma" size="3" color="Orange">
							<div class="contact_about_icon"></div><span>No:1, 35210 Konak/Izmir</span>
								</font></p>
						</li>
					</ul>
				</div>
				<!-- Contact Form -->
				<div class="col-lg-6 form_col">
					<div class="contact_form_container">
						<form action="#" id="contact_form" class="contact_form">
							<div class="row">
								<div class="col-md-6 input_col">
									<div class="input_container input_name"><input type="text" class="contact_input" placeholder="Name" required="required"></input></div>
								</div>
								<div class="col-md-6 input_col">
									<div class="input_container"><input type="email" class="contact_input" placeholder="E-mail" required="required"></input></div>
								</div>
							</div>
							<div class="input_container"><input type="text" class="contact_input" placeholder="Subject" required="required"></input></div>
							<div class="input_container"><textarea class="contact_input contact_text_area" placeholder="Message" required="required"></textarea></div>
							<button class="button contact_button"><a href="#">send</a></button>
						</form>
					</div>
			</div>
		</div>		
	</div>	
</div>
