<div th:fragment="messageList" class="row" id="messageListDOM" xmlns:th="http://www.w3.org/1999/xhtml">

    <div th:each="taskMessage:${taskMessages}">
        <div class="col-md-12 row">
            <div class="col-md-3" th:text="${taskMessage.personal.user.username}"></div>
            <div class="col-md-6" th:text="${taskMessage.content}"></div>
            <div class="col-md-3 ">
                <span class="label label-info" th:text="${taskMessage.sendDate}"></span>
            </div>
        </div>
    </div>
</div>