<div class="container">
    <div class="row">
        <div class="col">
            <div class="home_content_inner">
                <form th:object="${personal}">
                <div>
                    <input class="form-control" th:field="*{user.name}" />
                    <button type="button_name">Save</button>
                    <input class="form-control" th:field="*{user.surname}"/>
                    <button type="button_surname">Save</button>
                </div>


                </form>
            </div>
        </div>
    </div>
</div>