<div class="container">
    <div class="row">
        <div class="col">
            <div class="home_content_inner">
                <div style="width:100%">


                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#myModal">CreateProject</button>


                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="home_content_inner col-sm-12 " >
                            <table class="table" style="background-color:white;">
                                <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Project Start Time</th>
                                    <th>Project End Date</th>
                                    <th>Edit Project</th>
                                    <th>Delete</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="project2:${projects}">
                                    <td   th:text="${project2.name}"/>
                                    <td   th:text="${project2.starttime}"/>
                                    <td   th:text="${project2.enddate}"/>


                                    <td>
                                        <div th:onclick="'javascript:updateItem('+${project2.id}+')'">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div th:onclick="'javascript:removeItem('+${project2.id}+')'">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>

 <div th:replace="layouts/projectForm :: projectForm"></div>

<div id="modalDiv"></div>

<script th:inline="javascript">

    this.updateItem = function (id) {
        $.get('projects/' + id+'/updateForm', (data) => {
            $(data).modal('show')
        setTimeout(function(){ $('.selectpicker').selectpicker() }, 500);
    })
    }
    this.removeItem = function (id) {
        $.get('projects/' + id+'/delete', (data) => {
            location.reload();
    })
    }
</script>


