<!-- Modal -->
<div th:fragment="projectForm" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:object="${project}" th:action="@{/projects}" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" th:field="*{id}"/>
                    <div>
                        <span>ProjectName:</span><input class="form-control" th:field="*{name}"/>
                        <span>ProjectStartTime</span><input class="form-control" th:field="*{starttime}"/>
                        <span>ProjectEndDate</span><input class="form-control" th:field="*{enddate}"/>

                    </div>


                </div>
                <div class="modal-footer">
                    <button id="modalClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
