<div th:fragment="taskDetail" class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" style=" width: 1100px;  margin: auto;" role="document">
        <div class="modal-content">
            <form th:object="${task}" th:action="@{/tasks}" method="POST" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6 vdivide">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="row">
                                <div class="col-md-6"><span>Task Name:</span></div>
                                <div class="col-md-6">
                                    <input class="form-control" th:field="*{name}"
                                           readonly="readonly"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><span>TaskStateType:</span></div>
                                <div class="col-md-6">
                                    <input class="form-control" th:field="*{taskstatetype}"
                                           readonly="readonly"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><span>TaskPriority</span></div>
                                <div class="col-md-6">
                                    <select class="selectpicker form-control" data-container="content"
                                            name="taskpriority" disabled="disabled">
                                        <option th:each="taskpriority:${T(com.project.yasar.onduty.onduty.domain.TaskPriority).values()}"
                                                th:text="${taskpriority.toString()}"
                                                th:value="${taskpriority.name()}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><span>AssigneePersonals</span></div>
                                <div class="col-md-6">
                                    <select class="selectpicker form-control" multiple="multiple"
                                            data-container="content"
                                            name="assigneePersonals" disabled="disabled">
                                        <option th:each="personal:${personals}"
                                                th:text="${personal}"
                                                th:value="${personal.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><span>TaskStartDate</span></div>
                                <div class="col-md-6">
                                    <input class="form-control" th:field="*{taskstartdate}"
                                           readonly="readonly"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><span>TaskEndDate</span></div>
                                <div class="col-md-6">
                                    <input class="form-control" th:field="*{taskenddate}"
                                           readonly="readonly"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><span>Project</span></div>
                                <div class="col-md-6">
                                    <select class="selectpicker form-control" data-container="content"
                                            name="project" disabled="disabled">
                                        <option th:each="project:${projects}" th:checked="${task.project == project}"
                                                th:text="${project}"
                                                th:value="${project.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><span>TaskDescription</span></div>
                                <div class="col-md-6">
                                    <input class="form-control" th:field="*{description}"
                                           readonly="readonly"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div th:replace="layouts/messageList::messageList">
                            </div>
                            <div class="row">
                                <input type="text" id="messageInput" multiple="multiple"/>
                                <input type="button" id="messageSend" value="Send"/>
                            </div>
                        </div>



                        <div class="row">
                                <div class="col-md-6"><span>StateTask</span></div>
                                <div class="col-md-6">
                                    <select class="selectpicker form-control" data-container="content"
                                            name="statetask" disabled="disabled">
                                        <option th:each="statetask:${T(com.project.yasar.onduty.onduty.domain.StateTask).values()}"
                                                th:text="${statetask.toString()}"
                                                th:value="${statetask.name()}"></option>
                                    </select>
                                </div>
                            </div>
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
    <style>
  
        .row {
            margin-top:5px
        }
        
        #messageListDOM {
		    background-color: #eee;
		    width: 500px;
		    height: 200px;
		    border: 1px dotted black;
		    overflow: scroll;
		}
		
    </style>
    <script th:inline="javascript">
        var taskId= /*[[${task.id}]]*/
        $('#messageSend').on('click',()=>{
            var messageContent = $('#messageInput').val()
            $.post('messages/task/'+taskId, { content: messageContent })
                .done(function( data ) {
                    $('#messageListDOM').empty()
                    $('#messageListDOM').append(data);
                });
        })
    </script>
</div>
