<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div class="">
    <div class="row">
        <div style="width:100%">
      	      
    
       <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#myModal">
                CreateTask
            </button>
  <!-- Example split danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger">ShowTask</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Assigned tasks</a>
    <a class="dropdown-item" href="#">assignment</a>

  </div>
</div>
            

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="home_content_inner col-sm-12 ">
                <table class="table" style="background-color:white;">
                    <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Task Priority</th>
                        <th>Assigner</th>
                        <th>Project</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Task Description</th>
                        <th>Edit Task</th>
                        <th>Delete</th>
                        <th>Detail-Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="task2:${tasks}">

                        <td th:text="${task2.name}"/>
                        <td th:text="${task2.taskpriority}"/>
                        <td th:text="${task2.assignerPersonal}"/>
                        <td th:text="${task2.project?.name}"/>
                        <td th:text="${task2.taskstartdate}"/>
                        <td th:text="${task2.taskenddate}"/>
                        <!--   <td th:text="${task2.description}"/> -->
                        <td>
                            <div th:onclick="'javascript:showDescription('+${task2.id}+')'">
                                <span class="glyphicon glyphicon-share-alt"></span>
                            </div>
                        </td>
                        <td>
                            <div th:onclick="'javascript:update('+${task2.id}+')'">
                                <span class="glyphicon glyphicon-edit"></span>
                            </div>
                        </td>
                        <td>
                            <div th:onclick="'javascript:removeItem('+${task2.id}+')'">
                                <span class="glyphicon glyphicon-trash"></span>
                            </div>
                        </td>
                        <td>
                            <div th:onclick="'javascript:showDetail('+${task2.id}+')'">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>
<div th:replace="layouts/taskForm :: taskForm"></div>
<script th:inline="javascript">
    this.update = function (id) {
        $.get('task/' + id+'/updateForm', (data) => {
            $(data).modal('show')
        setTimeout(function(){ $('.selectpicker').selectpicker() }, 500);

    })
    },
    this.removeItem = function (id) {
        $.get('task/' + id+'/delete', (data) => {
            location.reload();
    })
    },
    this.showDescription = function(id) {
    	 $.get('task/' + id+'/description', (data) => {
             $(data).modal('show')
    })
    }
    this.showDetail = function(id){
        $.get('task/' + id+'/showDetail', (data) =>{
            $(data).modal('show')
        setTimeout(function(){ $('.selectpicker').selectpicker() }, 500);
        })

    }
</script>
</html>
