<div th:fragment="content">

    <!-- Home -->


    <!-- Boxes -->

    <div class="boxes">
        <div class="container" >
            <div th:include="${contentForm}"></div>
            <div class="row">
                <div class="col-lg-4 box_col">
                    <div class="box working_hours">
                        <div class="box_icon d-flex flex-column align-items-start justify-content-center"><div style="width:29px; height:29px;"><img src="/images/calendar-icon.png" alt=""/></div></div>
                        <div class="button home_button">
                            <a href="#">My Job Calendar</a>
                             <div class="box_icon d-flex flex-column align-items-start justify-content-center"><div style="width:29px; height:29px;"><img src="/images/calendar-icon.png" alt=""/></div></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>