<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only shown to administrators.
</div>
<div  sec:authorize="hasRole('ROLE_USER')">
    This content is only shown to users.
</div>







<head>


<title>Css ile menü yapımı</title>


<link rel="stylesheet" type="text/css" href="style.css" />


</head>


<body>


<ul id="menu">


<li><a href="#">Ana Sayfa</a></li>


<li><a href="#">profil</a></li>


<li><a href="#">iş takvimi</a></li>


<li><a href="#">mesaj</a></li>


<li><a href="#">Groups</a></li>

<li><a href="#">Tasks</a></li>


</ul>





</body>




</html>