<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Onduty</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/generic.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body style="background-image:url(images/onduty.png);background-position: top;background-size: cover;">


<div class="outer">
    <div id="login-form" class="middle">
        <form class="inner" th:action="@{/login}" method="POST">
            <h3 class="form-signin-heading" th:text="'Welcome Onduty'"></h3>
            <br/>

            <input align="center" type="text" id="username" name="username" th:placeholder="Username"
                   class="form-control"/> <br/>
            <input align="center" type="password" th:placeholder="Password"
                   id="password" name="password" class="form-control"/> <br/>

            <div align="center" th:if="${param.error}">

                <p style="font-size: 20; color: #FF1C19;">Username or Password invalid, please verify</p>
            </div>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                    th:text="Login"></button>
        </form>
    </div>
</div>
</body>
</html>